#landing-first-section {
  background-image: url(../../assets/images/1st-landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 680px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 80px;
  box-sizing: border-box;
  justify-content: center;
}

#landing-first-section h2 {
  font-size: 70px;
  font-weight: 200;
  font-family: "Italian1";
  letter-spacing: 10px;
  line-height: 70px;
  margin-bottom: 12px;
  color: #dfdfdf;
  text-shadow: 17px 13px 4px #141414;
}

#landing-first-section h2 .highlighted {
  color: #b832e0;
  font-weight: 400;
  font-family: "Italian1";
  font-size: 75px;
  padding: 0px 28px;
  border-radius: 35px;
  display: inline-block;
  box-shadow: 0 0 25px -8px;
}

#landing-first-section .definition-logo {
  height: 40px;
  width: auto;
}

#landing-first-section .definition-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

#landing-first-section .pronunc {
  color: #bfbfbf;
  letter-spacing: 4px;
}

#landing-first-section .emoji {
  font-size: 18px;
}

#landing-first-section .word {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

#landing-first-section .definition {
  letter-spacing: 1px;
}

#landing-first-section ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
  max-width: 500px;
  line-height: 32px;
  letter-spacing: 1px;
}

#landing-first-section .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#landing-page-about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  letter-spacing: 1px;
}

#landing-page-about-section > div {
  max-width: 1000px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#landing-page-about-section > div b {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 6px;
}

#landing-page-about-section > div h2 {
  letter-spacing: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

#landing-page-about-section > div h2 span {
  font-family: "Italian1";
  font-weight: 400;
  font-size: 35px;
  margin-left: 6px;
  color: #d959ff;
}

#landing-page-about-section > div .content {
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 300;
}

#landing-page-about-section .gallery {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}

#landing-page-about-section .gallery .image-container {
  height: 330px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0 11px -7px #640083;
}

/* #landing-page-about-section .gallery .image-container:nth-of-type(even) {
  margin-top: 16px;
} */

#landing-page-about-section .gallery .image {
  height: 100%;
}
