#landing-first-section-container {
  margin: 0 100px;
  overflow: hidden;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

#landing-first-section {
  background-image: url(../../assets/images/1st-landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -76px;
  height: 680px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 80px;
  box-sizing: border-box;
  justify-content: center;
}

#landing-first-section h2 {
  font-size: 70px;
  font-weight: 200;
  font-family: "Italian1";
  letter-spacing: 10px;
  line-height: 70px;
  margin-bottom: 12px;
  color: #dfdfdf;
  text-shadow: 17px 13px 4px #141414;
}

#landing-first-section h2 .highlighted {
  color: #cdad83;
  font-weight: 400;
  font-family: "Italian1";
  font-size: 75px;
  padding: 0px 28px;
  border-radius: 35px;
  display: inline-block;
  box-shadow: 0 0 25px -8px;
}

#landing-first-section .definition-logo {
  height: 40px;
  width: auto;
}

#landing-first-section .definition-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

#landing-first-section .pronunc {
  color: #bfbfbf;
  letter-spacing: 4px;
}

#landing-first-section .emoji {
  font-size: 18px;
}

#landing-first-section .word {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

#landing-first-section .definition {
  letter-spacing: 1px;
}

#landing-first-section ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
  max-width: 500px;
  line-height: 32px;
  letter-spacing: 1px;
}

#landing-first-section .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#landing-page-about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  letter-spacing: 1px;
}

#landing-page-about-section > div {
  max-width: 1000px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#landing-page-about-section > div b {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 6px;
}

#landing-page-about-section > div h2 {
  letter-spacing: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

h2 span {
  font-family: "Italian1";
  font-weight: 400;
  font-size: 52px;
  margin-left: 6px;
  color: #cdad83;
  letter-spacing: 4px;
}

#landing-page-about-section > div .content {
  letter-spacing: 4px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 12px;
}

#landing-page-about-section .gallery {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}

#landing-page-about-section .gallery .image-container {
  height: 380px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0 11px -7px #836400;
}

/* #landing-page-about-section .gallery .image-container:nth-of-type(even) {
  margin-top: 16px;
} */

#landing-page-about-section .gallery .image {
  height: 100%;
}

#landing-page-stats-section {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #2b2b2b;
}

#landing-page-stats-section > div {
  display: flex;
  justify-content: center;
  gap: 60px;
  max-width: 900px;
}

#landing-page-stats-section .illustration {
  height: 180px;
}

#landing-page-stats-section .content-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#landing-page-stats-section .content-container span:first-of-type {
  font-weight: 200;
  letter-spacing: 2px;
}

#landing-page-stats-section .content-container h2 {
  letter-spacing: 3px;
}

#landing-page-stats-section .stats-container {
  display: flex;
  align-items: center;
  gap: 18px;
}

#landing-page-stats-section .stats-container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 12px;
}

#landing-page-stats-section .stats-container .stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-page-stats-section .stats-container .label {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 13px;
}

#landing-page-stats-section .stats-container .value {
  font-size: 60px;
  font-family: "Italian1";
  letter-spacing: 6px;
  line-height: 60px;
}

#landing-page-offers-section {
}

#landing-page-newsletter-section {
  display: flex;
  justify-content: center;
  padding: 70px 0;
  background-color: #f2f2f2;
}

#landing-page-newsletter-section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
}

#landing-page-newsletter-section .title,
#landing-page-newsletter-section .above-title,
#landing-page-newsletter-section .content,
#landing-page-newsletter-section label,
#landing-page-newsletter-section .input {
  color: black;
}

#landing-page-newsletter-section .above-title {
  font-weight: 300;
  letter-spacing: 2px;
}

#landing-page-newsletter-section .title {
  letter-spacing: 2px;
}

#landing-page-newsletter-section .illustration {
  height: 326px;
}

#landing-page-newsletter-section .content {
  line-height: 30px;
  letter-spacing: 0.8px;
}

#landing-page-newsletter-section .subscription-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#landing-page-newsletter-section label {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 8px;
}

#landing-page-newsletter-section .email-input {
  padding: 10px 16px;
  border: 1px solid rgb(179, 180, 184);
  border-radius: 3px;
  outline: none;
  letter-spacing: 1px;
  color: black;
  width: 320px;
  margin-bottom: 4px;
}

#landing-page-menus-section {
  background-color: black;
  padding: 48px 0;
}

#landing-page-menus-section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

#landing-page .section-above-title {
  font-weight: 300;
  letter-spacing: 2px;
  color: #d9d9d9;
  font-size: 20px;
}

#landing-page .section-title {
  letter-spacing: 4px;
  font-size: 30px;
  font-weight: 500;
}

#landing-page-menus-section .columns {
  display: flex;
  max-width: 1050px;
  width: 1050px;
  gap: 60px;
  margin-top: 28px;
  margin-bottom: 18px;
}

#landing-page-menus-section .column {
  display: flex;
  flex-direction: column;
  gap: 52px;
  flex: 1;
}

#landing-page-menus-section .item-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#landing-page-menus-section .name-and-price {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  color: #cdad83;
}

#landing-page-menus-section .name,
#landing-page-menus-section .price {
  color: #cdad83;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
}

#landing-page-menus-section .separator {
  flex: 1;
  height: 6px;
  border: 1px solid #cdad837a;
  border-left: none;
  border-right: none;
  margin-bottom: 4px;
}

#landing-page-menus-section .dashes-separator {
  letter-spacing: 20px;
  color: #cdad83b3;
  cursor: default;
  user-select: none;
}

#landing-page-menus-section .description {
  letter-spacing: 1.5px;
  font-size: 14px;
  color: #c7c7c7;
}

#landing-page-video-section {
  position: relative;
  display: flex;
  align-items: center;
  height: 540px;
  overflow: hidden;
}

#landing-page-video-section .shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 26px;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.692);
}

#landing-page-video-section video {
  width: 100%;
  display: flex;
  position: relative;
  bottom: 26px;
}

#landing-page-video-section .ornament {
  width: 120px;
  height: auto;
  fill: #cdad83;
}

#landing-page-video-section .first-title {
  font-weight: 300;
  letter-spacing: 8px;
}

#landing-page-video-section .second-title {
  font-weight: 200;
  letter-spacing: 6px;
}

#landing-page-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  background-color: white;
}

#landing-page-testimonials > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 32px;
}

#landing-page-testimonials .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  transition: opacity 0.4s linear;
  padding-bottom: 50px;
}

#landing-page-testimonials .content.fade-in {
  opacity: 1;
}

#landing-page-testimonials .content.fade-out {
  opacity: 0;
}

#landing-page-testimonials .image {
  height: 340px;
}

#landing-page-testimonials .stars {
  display: flex;
  gap: 12px;
}

#landing-page-testimonials .star {
  height: 18px;
}

#landing-page-testimonials .brackets {
  color: #b5874b;
  font-family: "Italian1";
  font-size: 100px;
  line-height: 40px;
  user-select: none;
  margin-left: 30px;
  margin-bottom: 18px;
  transform: rotate(180deg);
}

#landing-page-testimonials .testim {
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 17px;
  max-width: 340px;
  line-height: 34px;
  text-align: center;
}

#landing-page-testimonials .client {
  color: black;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
}

#landing-page-testimonials .nav-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  gap: 26px;
}

#landing-page-testimonials button {
  font-weight: 600;
  position: relative;
  color: black;
  border-bottom: 4px double #cdad83;
  padding: 3px 4px;
  transition: all 0.2s ease;
}

#landing-page-testimonials button:hover {
  padding-bottom: 6px;
}
