#home-page {
  display: flex;
  flex-direction: column;
}

#home-page .body {
  display: flex;
  height: 100%;
}

#home-page .content {
  flex: 1;
  padding: 16px;
  margin-left: 310px;
  box-sizing: border-box;
}

#home-page h2 {
  color: #cdad83;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 36px;
  font-family: Italian1;
}

#home-page .home-section-title-box {
  justify-self: center;
}
