.form-message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #f5f7fa;
  border: 1px solid #c3c7cf;
  border-radius: 2px;
  padding: 8px 10px;
  gap: 6px;
  box-sizing: border-box;
}

.form-message.dark.green {
  background-color: #263128;
  border: 1px solid #448d5b;
}
.form-message.green {
  background-color: #f3fff5;
  border: 1px solid #84b292;
}

.form-message.red.light {
  background-color: #fff7f7;
  border: 1px solid #e16060;
}

.form-message.red.dark {
  background-color: #2d2929;
  border: 1px solid #9d3131;
}

.form-message-content {
  flex: 1;
  font-size: 14px;
  color: #2a2d2e;
  margin-top: 2px;
}
.form-message.dark .form-message-content.green {
  color: #6add6a;
}
.form-message.light .form-message-content.green {
  color: #22a922;
}
.form-message.dark .form-message-content.red {
  color: #ff5b5b;
}
.form-message.light .form-message-content.red {
  color: #cf3e3e;
}

.form-message-icon {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}

.form-message-close-button {
  display: flex;
  padding: 2px 3px;
  background-color: transparent;
  border: unset;
  cursor: pointer;
  border-radius: 3px;
}

.form-message.light .form-message-close-button:hover {
  background-color: #e0e0e0;
}

.form-message-close-button:hover {
  background-color: #3b3b3b;
}

.form-message-close-icon {
  width: 18px;
  height: 18px;
  fill: #838a92;
}
