#admin-header {
  height: 66px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 0 6px -4px #80808054;
}

#admin-header * {
  fill: black;
  color: black;
}
