#header {
  display: flex;
  align-items: center;
  padding: 0 70px;
  height: 74px;
  background-color: black;
}

#header-text-logo {
  height: 24px;
  fill: #fff;
  /* fill: #0781ff; */
}

#header ul:first-of-type {
  display: flex;
  gap: 22px;
  color: white;
  list-style-type: none;
  margin-left: 40px;
}

#header .auth {
  display: flex;
  align-items: center;
  gap: 8px;
}

#header ul:first-of-type a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  fill: white;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.4s ease;
}

#header ul:first-of-type a:hover {
  color: #0781ff;
  fill: #0781ff;
}

#header ul:first-of-type a .icon {
  width: 18px;
  height: 18px;
}
