* {
  margin: 0;
  padding: 0;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  color: white;
}

@font-face {
  font-family: "Italian1";
  src: url("./assets/fonts/italian/italian.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playwrite";
  src: url("./assets/fonts/play-write/Playwrite.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Italics */
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/karla/Karla-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

body {
  background-color: #1c1c1e;
}

a {
  text-decoration: none;
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.button-style-1 {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  fill: white;
  transition: all 0.3s ease;
}

.button-style-1.whitebg {
  background-color: white;
  color: black;
  fill: black;
}

.button-style-1:hover {
  color: #0781ff;
  fill: #0781ff;
}

.button-style-1 .icon {
  width: 18px;
  height: 18px;
}

.button-style-2 {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #e4e4e4;
  padding: 14px 19px;
  width: max-content;
  color: #353535;
  fill: #353535;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.button-style-2:hover {
  background-color: white;
  color: black;
  fill: black;
}

.button-style-2 .icon {
  width: 18px;
  height: 18px;
}

.button-style-3 {
  display: flex;
  align-items: center;
  padding: 14px 19px;
  width: max-content;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 15px;
  transition: all 0.3s ease;
  color: #c2c2c2;
}

.button-style-3:hover {
  color: white;
}

.right {
  margin-left: auto;
}

.separator-style-1 {
  width: 1px;
  height: 8px;
  background-color: gray;
  margin: 0 10px;
}
