html,
body,
#root,
#admin-page {
  height: 100%;
}

#admin-page {
  display: flex;
  background-color: rgb(241, 241, 241);
}

#admin-sidebar {
  background-color: black;
  width: 320px;
}

#admin-page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#admin-sidebar * {
  color: white !important;
}

#admin-page-content * {
  flex: 1;
  color: black;
}
