#admin-sidebar {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
}

#admin-sidebar * {
  color: #efefef;
  fill: #efefef;
}

#admin-sidebar .logo {
  height: 30px;
  fill: white;
}

#admin-sidebar .logo-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  border-bottom: 1px solid rgb(73, 73, 73);
}

#admin-sidebar .search {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(73, 73, 73);
}

#admin-sidebar .search .input {
  background-color: unset;
  width: 100%;
  border: none;
  padding: 12px 16px 12px 52px;
  border-radius: 0;
  outline: none;
}

#admin-sidebar .search .icon {
  position: absolute;
  width: 22px;
  height: 22px;
  fill: gray;
  left: 22px;
}

#admin-sidebar .buttons-box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex: 1;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#admin-sidebar::-webkit-scrollbar {
  display: none;
}

#admin-sidebar .button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px;
  margin: 0 10px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  outline: none;
}

#admin-sidebar .button.current * {
  color: #cdad83;
  fill: #cdad83;
}

#admin-sidebar .button:hover {
  background-color: rgb(19, 19, 19);
}

#admin-sidebar .button .icon {
  width: 20px;
  height: 20px;
}

#admin-sidebar .button .title {
  letter-spacing: 0.6px;
}

#admin-sidebar .button .chevron {
  width: 16px;
  height: 16px;
  margin-left: auto;
  transition: transform 0.3s ease;
}

#admin-sidebar .button-container {
  display: flex;
  flex-direction: column;
}

#admin-sidebar .button-collapsible-area {
  margin-left: 32px;
  border-left: 3px solid #2b2b2b;
}
